extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Register your deployed instance for security testing

        // register form
        form(method='POST' action='/register')
          div.form-group
            input#name.form-control(type='text', placeholder='first and last' name='name' value="#{integration_id}" hidden)
          div.form-group
            label(for='instance_url') Deployed Instance URL:
            input#instance_url.form-control(type='text', name='instance_url')
          button.btn.btn-primary(type='submit') Register
